*{

    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;            

    }

    /*caja padre*/
    header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
    margin-bottom:  100px;
    background-color: rgb(240, 240, 247);

    }

    ul{

        width: auto;

    }

    li{

    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    
    }

    a{

    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a3866;
    }

    a:hover{

    color: #ff2753;
    transition: all 0.3s;

    }



    .logo{

    width: 200px;

    cursor: pointer;

    position: relative;

    right: 100px;

    }

    .btn{
    /*10 px arriba y abajo; 25px de los lados*/
    padding: 10px 25px;
    background-color: #ff2753;
    border-radius: 50px;
    color: #fff;
    position: relative;
    top: 55px;
    left: 80px
    }
    .btn:hover{

    background-color: #4a3966;
    color: #fff;
    }

    h1{

        color: #4a3866;
        float:right;

    }

    /* nav{

        position: relative;
        bottom: 120px;
        left: 300px;
    } */


        .mn ul{

         background-color: #ff2753;
         width: 15%;
         padding: 0;
         position: relative;
         bottom: 60px;
         left: 5px;

         }

        .mn  ul li{

        display: block;
        list-style: none;
        padding: 15px;
        border-bottom: 1px solid #fff ;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;

        }

       .mn ul li:hover{

        background-color: #4a3966;
        transition: all 1s;

        }

        .mn  a{

        color: #fff;           

        }


        .mn h3{

            color: #4a3866;
             position: relative;
             text-transform: uppercase;
             font-weight: 700;
             bottom: 90px;
             left: 10px;
        }






        /*parte de david*/

    

    main{
         width: 70%;
         float: left;
         padding: 2rem;
         position: relative;
         left: 200px;
         bottom: 350px;

    }

    .encuesta{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



/*          SECTION         */

    .nombreSeccion{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;

        
    }


    .item{
        border: 1px solid darkgrey;
        border-radius: 6px;
        padding: 10px;
        background-color: white;
    /* justify-items: center;*/
    /* align-content: center;*/
    }

    .item:hover{
        border: 1px solid black;
    }

    .articulo{
        width: 220px;
        height: 220px;
    }

    .item span{
        font-size: 25px;
    }




    /*                 FOOTER                     */

    footer{
        background-color:rgb(240, 240, 247);
        color: #4a3866;
        font-size: small;
        clear: both;
        align-content: center;
    }